<div class="divider my-2">
  <div class="divider-text">Contáctanos</div>
</div>
<div class="auth-footer-btn d-flex justify-content-center">
  <a class="btn btn-facebook" href="https://www.facebook.com/" target="new"><i data-feather="facebook"></i></a>&nbsp;
  <a class="btn btn-twitter white" href="https://twitter.com" target="new"><i data-feather="twitter"></i></a>&nbsp;
  <a class="btn btn-google white" href="https://instagram.com" target="new"><i data-feather="instagram"></i></a>
</div>
<div class="divider my-2">
  <div class="auth-footer-btn d-flex justify-content-center">
    <div class="d-none d-lg-flex col-lg-12 justify-content-center">
      <p class="text-center mt-2">
        <small align="center"><strong>CAJA DE AHORROS DEL EJÉRCITO BOLIVARIANO</strong> <br> <strong>RIF
            J-29446284-7</strong>
          <br>
          Dirección : Av Las Escuelas Edif Caja de Ahorro del  Ejército Bolivariano (CAEJERB) <br> Piso PB Oficina Unica Sector Fuerte Tiuna Caracas Distrito Capital
          <br>
          Pagína Web: <a href="https://www.ejercito.mil.ve/?p=13965">CAJA DE AHORRO DEL EJÉRCITO BOLIVARIANO CAEJERB</a>
          <br>
          Telf: <a href="Tel:0212-6628206">0212-6628206</a>
        </small>
        <br>
        <small
          title="Build: {{ fechafinal | date: 'fullDate':'':'es' }} a las {{ fechafinal | date: 'h:mm a':'':'es' }}">Versión
          {{Version}} <i data-feather="help-circle" style="width: 14px; height: 14px;"></i></small>
        
      </p>
    </div>
  </div>